
body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    background-color:rgb(207, 85, 111);
}

.title {
    background-color:darkblue;
    display:inline-block;
    width:100%;
}

.neon {
    color: #fbfdfb;
    text-transform: none;
  }


.container {
    background-color:deepskyblue;
    display:inline-block;
    float: left;
    width: 60%;
}

.main {
    background-color:deepskyblue;
    display:inline-block;
    float: left;
    width: 60%;
}
.register {
    text-transform: uppercase;
  }

.hr {
    color:#1c411c;
    text-size-adjust: 10px;
    text-transform: uppercase;
}

. sidebar {
    background:darkcyan;
    float:left;
    width：40%;
}
