body {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.title {
    background-color:darkblue;
    display:inline-block;
    width:100%;
}

.neon {
    color: #fbfdfb;
    text-transform: none;
  }


.container {
    background-color:rgb(133, 204, 228);
    display:inline-block;
    float: left;
    width: 60%;
    height: 100%;
}

.main {
    background-color: rgb(238, 207, 212);
    display: inline-block;
    float: left;
    width: 60%;
    height: 100%;
  }

.register {
    text-transform: uppercase;
  }

.hr {
    color:#fafafa;
    text-size-adjust: 10px;
    text-transform: uppercase;
}

.sidebar {
    background:darkcyan;
    display: inline-block;
    float:left;
    widthï¼š40%;
    height: 100%;
}
