body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
  }
  
  .container {
    padding:0px;
    margin:0px;
    font-size:14px;
    color:white;
    font-family:'Times New Roman', Times, serif;
  }
  
  h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 3.68em;
    line-height: 1.4em;
  }
  
  .pullquote {
    color: #d3d3d3;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.68em;
  }